/* Reset */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    padding: 10px;
    background-color: #000;
    width: 100%;
}

.header__inner {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-icon {
    height: 40px;
}

.header-nav {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.header-nav__search {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.header-nav__search-input {
    width: 100%;
    max-width: 700px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.header-nav__link,
.header-nav__button {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
    background: none;
    border: none;
}

.header-nav__link--highlight {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 12px;
}

.header-nav__link--highlight:hover {
    background-color: #f0f0f0;
}

/* Responsive */
@media screen and (max-width: 850px) {
    .header-nav {
        gap: 10px;
    }

    .header-nav__link,
    .header-nav__button {
        font-size: 12px;
        padding: 6px 8px;
    }

    .header-nav__search-input {
        max-width: 90%;
        padding: 8px;
    }
}