/* Header */
.header {
    width: 100%;
    padding: 10px;
    background-color: #000;
    box-sizing: border-box;
}

.header__inner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.header__logo-icon {
    width: 80%;
}

.header__nav {
    margin-top: 10px;
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    width: 100%;
}

.header-nav__search-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-nav__search-input {
    width: 120%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.header-nav__item {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.header-nav__button {
    width: 100%;
    text-decoration: none;
    color: white;
    text-align: right;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
    background: none;
    border: none;
}

.header-nav__link {
    width: 50%;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
    background: none;
    border: none;
}

.header-nav__link--highlight {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 12px;
}

.header-nav__link--highlight:hover {
    background-color: #f0f0f0;
}

@media screen and (min-width: 850px) {
    .header__inner {
        flex-wrap: nowrap;
    }

    .header-nav {
        gap: 10px;
    }

    .header-nav__search-container {
        width: 100%;
    }

    .header-nav__search-input {
        font-size: 14px;
        padding: 10px;
    }
}

@media screen and (min-width: 768px) {
    .header__inner {
        flex-wrap: nowrap;
    }

    .header-nav {
        gap: 10px;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .header-nav__search-container {
        width: 100%;
    }

    .header-nav__search-input {
        font-size: 14px;
        padding: 10px;
    }
}

body,
html {
    overflow-x: hidden;
}