.purchase-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    /* 左右の間隔 */
}

.purchase-content {
    display: flex;
    width: 100%;
}

.purchase-left,
.purchase-right {
    width: 48%;
    /* 左右で等分 */
}

.purchase-left {
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

.purchase-right {
    padding-left: 20px;
}

.purchase-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

h1,
h2,
h3 {
    margin-top: 0;
}

.section-divider {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ccc;
}

.payment-method,
.delivery-address {
    margin-top: 20px;
}

.payment-method select {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.address-change-button {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
}

.address-change-button:hover {
    text-decoration: underline;
}

.purchase-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.purchase-button:hover {
    background-color: #218838;
}