.product-container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.button-row {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
    height: 80px;
}

.favorite-icon,
.comment-icon {
    font-size: 24px;
    color: #555;
}

.favorite-count,
.comment-count {
    font-size: 14px;
    color: #333;
    text-align: center;
    margin: 0;
    line-height: 1;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purchase-button,
.comment-submit-button {
    background-color: red;
    color: white;
    border: none;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.purchase-button:hover,
.comment-submit-button:hover {
    background-color: darkred;
}

.label-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    pointer-events: none;
}

.product-image {
    flex: 1;
    text-align: center;
}

.product-details {
    flex: 2;
}

.product-category,
.product-status,
.tags {
    margin-bottom: 20px;
}

.product-details h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

.product-price {
    font-size: 24px;
}

.button-column {
    margin-bottom: 20px;
}

h2 {
    margin: 20px 0;
    font-size: 1.5rem;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.tag {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 14px;
}

.comment-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.comment-profile .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ccc;
}

.comment-content {
    flex: 1;
    font-size: 14px;
}

.comment-content strong {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

.no-comments {
    margin: 20px 0;
    text-align: center;
    color: #555;
}

textarea {
    width: 100%;
    resize: vertical;
    margin-bottom: 40px;
}

.favorite-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite-button.favorited {
    color: black;
}